.form-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 7px 0;
}

.form-row input {
    min-width: 200px;
}

.form-row select {
    min-width: 208px;
}

.error-field, .server-error-field {
    text-align: center;
    color: red;
    font-weight: bold;
}

.required {
    color: red;
}

.form-row-button {
    display: flex;
    justify-content: center;
}

input, select {
    font-family: inherit;
}

