.test-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}

.selected-answer {
    border: 1px solid green;
    border-radius: 20px;
    background-color: lightgreen;
}

.answers-container {
    width: 78vw;
}

.answers-container div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
    margin: 5px 0;
}

.answers-container label {
    font-size: 1.5rem;
}

.error-not-selected, .error-not-filled, .server-error {
    text-align: center;
    font-weight: bold;
    color: red;
}

.test-question-header {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
}

.test-submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    text-align: center;
    font-size: 1.9 rem;
}

.subjects-container > div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subjects-container label {
    flex: 3;
}

.subjects-container input {
    flex: 4;
}

.test-subject-header {
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
}

.test-main-header {
    font-size: 1.2rem;
    font-weight: bold;
}